<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>CFD Company</title>
  </head>
  <body>
    <div class="nav-bar">
      <ul class="nav-bar-list">
        <li><a href="/" class="nav-bar-el">Home</a></li>
        <li><a href="/ourservice" class="nav-bar-el">Our Service</a></li>
        <li><a href="/contactus" class="nav-bar-el">Contact Us</a></li>
      </ul>
    </div>
    <div class="Identity">
      <h1>Our Identity</h1>
      <p>
        Fluid motion is a ubiquitous phenomenon encountered in almost all
        systems known to man. Typically it will be closely coupled to other
        scientific phenomena such as mass and heat transfer, two-phase flow,
        thermodynamics, combustion, chemical kinetics and species formation,
        etc… Dealing with this complexity has led to a significant and still
        evolving body of work in thermofluid systems. The manipulation of the
        models, at various levels, to rationalize and quantify system behavior
        is the domain of Computational Fluid Dynamics (CFD). At Optumatics we
        utilize our proprietary CFD tools to serve many engineering and
        industrial sectors. Working closely with you we will provide support
        across the spectrum of engineering functions, from analysis and
        diagnostics to optimizing system design and performance. Performing
        these functions in a math-based computational environment significantly
        reduces the time and cost of product development and new product design.
        At the core of Optumatics’ CFD tools is a set of validated models
        representing the various scientific phenomena involved. We constantly
        sense technical developments and respond with cutting-edge technology
        that will give you a competitive advantage. Given our cost structure
        which is significantly lower than our competitors’, we provide value
        that is difficult for others to achieve. Excellence, service, and
        integrity are deeply embedded in our core values… We believe we succeed
        only if you do.
      </p>
      <video width="320" height="240" controls>
        <source src="rocket analysis ( cfd ).mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </body>
</html>
