<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Services</title>
  </head>
  <body>
    <div class="nav-bar">
      <ul class="nav-bar-list">
        <li><a href="/" class="nav-bar-el">Home</a></li>
        <li><a href="/ourservice" class="nav-bar-el">Our Service</a></li>
        <li><a href="/contactus" class="nav-bar-el">Contact Us</a></li>
      </ul>
    </div>
    <div class="services">
      <p>
        Engineering support in the areas of Computational Fluid Dynamics (CFD)
        and Computational Mechanics (CM). The company will work with customers
        to develop and optimize engineering and technical solutions and will
        offer dedicated engineering skills that may be needed to extend our
        customers’ internal capability. Examples of tasks offered:
      </p>
      <ul>
        <li>
          Clean-up and preparation of model surfaces provided by the customer
        </li>
        <li>
          Meshing of model. Conducting analysis and ensuring numerical fidelity
        </li>
        <li>Processing results and producing relevant plots</li>
        <li>
          Analyzing results and producing diagnostics to assist in design
          optimization
        </li>
        <li>
          Reviewing results with the customer and evolving designs as needed
        </li>
      </ul>
    </div>
  </body>
</html>
