<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Contact</title>
  </head>
  <body>
    <div class="nav-bar">
      <ul class="nav-bar-list">
        <li><a href="/" class="nav-bar-el">Home</a></li>
        <li><a href="/ourservice" class="nav-bar-el">Our Service</a></li>
        <li><a href="/contactus" class="nav-bar-el">Contact Us</a></li>
      </ul>
    </div>
    <div class="Service">
      <p>Currently Out Of Service Hours</p>
    </div>
  </body>
</html>
