.nav-bar {
  background-color: black;
}
.nav-bar .nav-bar-list {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  padding: 0;
  margin: auto;
  list-style-type: none;
  width: 50%;
  justify-content: center;
}
.nav-bar-list .nav-bar-el {
  text-decoration: none;
  margin: 20px;
  color: aliceblue;
}
